In [1]:
import pandas as pd
import numpy as np

In [7]:
liverpool = pd.read_csv('/Users/rajibul/Downloads/DataAnalysis/EPL/Liverpool.csv')
liverpool.head()

,Date,Opponent,Is_Home,Result,Goals,Opponent_Goals,Possession,Shots,Shots_On_Target,Passes_Completed,...,Opponent_Corners,Opponent_Crosses,Opponent_Fouls,Opponent_Offsides,Shot_Efficiency,Season,Month,Day_of_Week,Last5_Avg_Goals,Last5_Win_Rate
0,2013-08-17 14:45:00,Stoke City,1,1,1,0,55,25,11,430,...,6,6,12,1,0.440000,2013,8,6,1.000000,1.00
1,2013-09-29 18:00:00,Sunderland,0,1,3,1,54,15,6,350,...,10,5,9,4,0.400000,2013,9,7,2.000000,1.00
2,2013-11-02 19:30:00,Arsenal,0,-1,0,2,46,12,4,436,...,3,1,11,1,0.333333,2013,11,6,1.333333,0.67
3,2013-12-01 16:05:00,Hull City,0,-1,1,3,62,9,4,496,...,2,4,10,3,0.444444,2013,12,7,1.250000,0.50
4,2013-12-04 21:45:00,Norwich City,1,1,5,1,62,28,12,526,...,0,7,6,0,0.428571,2013,12,3,2.000000,0.60

In [8]:
liverpool.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       699 non-null    object
 1   Opponent                   699 non-null    object
 2   Is_Home                    699 non-null    int64
 3   Result                     699 non-null    int64
 4   Goals                      699 non-null    int64
 5   Opponent_Goals             699 non-null    int64
 6   Possession                 699 non-null    int64
 7   Shots                      699 non-null    int64
 8   Shots_On_Target            699 non-null    int64
 9   Passes_Completed           699 non-null    int64
 10  Pass_Accuracy              699 non-null    int64
 11  Corners                    699 non-null    int64
 12  Crosses                    699 non-null    int64
 13  Fouls                      699 non-null    int64
 14  Offsides                   699 non-null    int64
 15  Opponent_Possession        699 non-null    int64
 16  Opponent_Shots             699 non-null    int64
 17  Opponent_Shots_On_Target   699 non-null    int64
 18  Opponent_Passes_Completed  699 non-null    int64
 19  Opponent_Pass_Accuracy     699 non-null    int64
 20  Opponent_Corners           699 non-null    int64
 21  Opponent_Crosses           699 non-null    int64
 22  Opponent_Fouls             699 non-null    int64
 23  Opponent_Offsides          699 non-null    int64
 24  Shot_Efficiency            698 non-null    float64
 25  Season                     699 non-null    int64
 26  Month                      699 non-null    int64
 27  Day_of_Week                699 non-null    int64
 28  Last5_Avg_Goals            699 non-null    float64
 29  Last5_Win_Rate             699 non-null    float64
dtypes: float64(3), int64(25), object(2)
memory usage: 164.0+ KB